
h1{
    margin:auto;
    text-align: center;
    font-size: 20px;
    background-image:url("ダウンロード.jpg");
    color:red;
}
h2{
    text-align: center;
}

/*クリック数表示用CSS*/
.ClickMe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ClickMe button,
  .ClickMe p {
    margin-right: 10px;
  }
  